target/
!.mvn/wrapper/maven-wrapper.jar

# Environment
.env

# IDE
.idea/
*.iml
*.iws
*.ipr
out/
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/
spring-shell.log

# Docs
HELP.md

# Frontend
node_modules/
dist/
